<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel= "stylesheet" type= "text/css" href= "../static/style.css">

{% if title %}
        <title>{{ title }} - One Minute Pitch</title>
        {% else %}
        <title>One Minute Pitch</title>
        {% endif %}
</head>
<body class="w3-theme-l5">
   <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
      <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Home</a>
      {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Login</a>
      {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4 w3-right"><i class="fa fa-home w3-margin-right"></i>Profile</a>
        <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4 w3-right"><i class="fa fa-home w3-margin-right"></i>Logout</a>
      {% endif %}
    </div>
  </div> 

  <div>
  Microblog:
  <a href="{{ url_for('index') }}">Home</a>
  {% if current_user.is_anonymous %}
  <a href="{{ url_for('login') }}">Login</a>
  {% else %}
  <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
  <a href="{{ url_for('logout') }}">Logout</a>
  {% endif %}
  </div> 

  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

<script src="static/vote.js" type="text/javascript"></script>
</body>
</html>